# Upgrade core packaging tools first
pip>=25
setuptools>=70
wheel>=0.44

# Framework Web
Flask==3.0.0
gunicorn==21.2.0

# Machine Learning
xgboost==2.0.3
scikit-learn==1.3.2
pandas==2.1.4
numpy==1.26.4

# Utilidades
joblib==1.3.2
python-dotenv==1.0.0

# Opcional para gráficos
matplotlib==3.8.2
seaborn==0.13.0
shap==0.41.0